{
    "extends": "rackt",
    "rules": {
        "array-bracket-spacing": [2, "never"],
        "eqeqeq": [1, "smart"]
    },
    "env": {
        "browser": true,
        "node": false,
        "es6": true
    }
}
